page-note-modal{
    ion-textarea {
        position: relative;
        display: block;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 90%;
        margin-left: 5%;
        margin-top: 20%;
        background-color: whitesmoke;
    }
}
