<!-- <ion-card>
    
    <div class="card-title">{{cardTiles.name}}</div>
    <div class="card-subtitle">41 Listings</div>
</ion-card> -->

<div style="height: 110px;" class="w3-panel w3-card">

    <div>
        <i *ngIf="cardTiles.name == 'Create Service'" class="fa fa-plus-square-o fa-2x" style="margin-top:20px;color:#5598FB;text-align: center;width: 100%;"></i> 
        <i *ngIf="cardTiles.name == 'Track Service'" class="fa fa-eye fa-2x" style="margin-top:20px; color: #5598FB;text-align: center;width: 100%;"></i>
        <i *ngIf="cardTiles.name == 'Tenant Management'" class="fa fa-search-plus fa-2x" style="margin-top:20px;color:#5598FB;text-align: center;width: 100%;"></i> 
        <i *ngIf="cardTiles.name == 'Property Watch'" class="fa fa-university fa-2x" style="margin-top:20px; color: #5598FB;text-align: center;width: 100%;"></i>
        <i *ngIf="cardTiles.name == 'Bill Payments'" class="fa fa-credit-card fa-2x" style="margin-top:20px;color:#5598FB;text-align: center;width: 100%;"></i> 
        <i *ngIf="cardTiles.name == 'Documents Procurement'" class="fa fa-id-card fa-2x" style="margin-top:20px; color: #5598FB;text-align: center;width: 100%;"></i>
        <h2 style="text-align: center; font-size:12px;"><b>{{cardTiles.name}}</b></h2>
    </div>

    

    <!-- <p *ngIf="cardTiles.name == 'Services'" style="text-align: center;font-size: 12px;background: #2EC95C;color: white;" href="#" class="item item-icon-left"> 
        <b>{{cardTiles.name}}</b>
    </p>
    <p *ngIf="cardTiles.name == 'Track Service'" style="text-align: center;font-size: 12px;background: #5598FB;color: white;" href="#" class="item item-icon-left"> 
        <b>{{cardTiles.name}}</b>
    </p> -->
    
    <!-- <p style="font-size: 12px;float:right">41 Listings</p> -->
   <!-- <div class="item item-divider">
     
   </div>
   
   <div class="item item-text-wrap">
      
   </div>
   
   <div class="item item-divider">
     41 Listings
   </div> -->
</div>