card-design{
    ion-card {
        position: relative;
        text-align: center;
        margin: 0 !important;
        width: 100% !important;
    }
    .card-content{
        padding: 5px !important;
    }
    element.style {
        display: inline;
    }
    .price_inr {
        display: inline;
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 3%;
        font-weight: bold;
        background: rgb(232, 76, 61);
        padding: 3px 6px;
        font-size: 12px;
    }
}
