<div *ngIf="chatMessage.msg=='Please provide us with <b>requirement address</b> details.House No. and Street?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;">Please provide us with <b>requirement address </b><i style="color:#5598FB" class="fa fa-map-marker" aria-hidden="true"></i> details.</p> 
    </div>
    <div style="margin-top: 12%;margin-left:1px">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;"><b>House No.</b> and <b>Street?</b></p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Name of a person with whom we can contact?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>Name </b><i style="color:#5598FB" class="fa fa-user-circle-o" aria-hidden="true"></i> of a person with whom we can contact?</p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Email of contact person?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>Email </b><i style="color:#5598FB" class="fa fa-envelope-o" aria-hidden="true"></i> of contact person?</p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Phone No. of contact person?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>Phone No. </b><i style="color:#5598FB" class="fa fa-phone" aria-hidden="true"></i> of contact person?</p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Welcome to Munshiji247...'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Welcome to <b>Munshiji247...</b></p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Create a new service from these categories.'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create a new service from these<b> categories.</b></p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Create service from Tenant Management Basic'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Tenant Management Basic'</b></p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Create service from Tenant Management Advance'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Tenant Management Advance'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Tenant Finding'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Tenant Finding'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Tenant Finding with Management'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Tenant Finding with Management'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Blue Eye'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Blue Eye'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Green Eye'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Green Eye'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Red Eye'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Red Eye'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Property Tax'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Property Tax'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Birth Certificate'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Birth Certificate'</b></p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Create service from Pan Card'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" >Create service from <b>'Pan Card'</b></p> 
    </div>
</div>

<div *ngIf="chatMessage.msg=='Area?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>Area</b>?</p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='City?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>City</b>?</p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='State?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>State</b>?</p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Country?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>Country</b>?</p> 
    </div>
</div>
<div *ngIf="chatMessage.msg=='Pin Code?'" class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img class="image" src="assets/mji.png">
      <p style="font-size: 12px;" ><b>Pin Code</b>?</p> 
    </div>
</div>
<div *ngIf="chatMessage.type=='msg_res'" class="message {{chatMessage.type === 'msg_res' ? 'left' : 'right'}}" >
  <div style="width: 90%">
    <img class="image" src="assets/mji.png">
    <p style="font-size: 12px;" >New update for <b>{{chatMessage.msg}}</b></p>
  </div>
</div>

<div *ngIf="chatMessage.msg!='Please provide us with <b>requirement address</b> details.House No. and Street?' 
  && chatMessage.msg!='Name of a person with whom we can contact?'
  && chatMessage.msg!='Email of contact person?'
  && chatMessage.msg!='Phone No. of contact person?'
  && chatMessage.msg!='Welcome to Munshiji247...'
  && chatMessage.msg!='Create service from Tenant Management Basic'
  && chatMessage.msg!='Create service from Tenant Management Advance'
  && chatMessage.msg!='Create service from Tenant Finding'
  && chatMessage.msg!='Create service from Tenant Finding with Management'
  && chatMessage.msg!='Create service from Green Eye'
  && chatMessage.msg!='Create service from Blue Eye'
  && chatMessage.msg!='Create service from Red Eye'
  && chatMessage.msg!='Create service from Property Tax'
  && chatMessage.msg!='Create service from Birth Certificate'
  && chatMessage.msg!='Create service from Pan Card'
  && chatMessage.msg!='Create a new service from these categories.'
  && chatMessage.msg!='City?'
  && chatMessage.msg!='Area?'
  && chatMessage.msg!='State?'
  && chatMessage.msg!='Country?'
  && chatMessage.msg!='Pin Code?'
  && chatMessage.type != 'msg_res' " class="message {{chatMessage.type === 'message_response' ? 'left' : 'right'}}">
    <div style="width: 90%">
      <img src="assets/mji.png">
      <p style="font-size: 12px;white-space: pre-wrap;" >{{chatMessage.msg}}</p> 
    </div>
</div>