page-profile {
    img {
        max-width: 50%;
        border: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .fa {
        max-width: 0;
        border: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
