page-termsandconditions{
    p {
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 14px;
        color: #85868d;
        line-height: 18px;
    }
    .grid{
        padding: 0;
        margin-left: 5%;
    }
}