card-design-track{
    ion-card {
        position: relative;
        text-align: center;
        margin: 0 !important;
        width: 100% !important;
    }
    .card-content{
        padding: 5px !important;
    }
}